// Заголовки, общие БЄМ блоки и проче...
h1 {
	font-weight: 700;
	@include adaptiveValue("font-size", 26, 24);
	line-height: 150%;
}
h2 {
	font-weight: 500;
	@include adaptiveValue("font-size", 22, 20);
	line-height: 150%;
}
h3 {
	font-weight: 500;
	@include adaptiveValue("font-size", 18, 16);
	line-height: 150%;
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 20, 15);
	}
}
div,
button,
p,
span {
	@include adaptiveValue("font-size", 16, 14);
}
